.App {
  text-align: center;
}

.product-flex {
  display: flex;
  justify-content: space-around;
}

.product-container {
  width: 250px;
}

.product-image {
  width: 250px;
}

.auth-modal {
  width: 150px;
  height: 100px;
  background-color: rebeccapurple;
  margin: 0 auto;
}